body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.player-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    box-sizing: border-box;
    position: relative;
}

.score-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.bonus-text {
    color: red;
    font-weight: bold;
    font-size: 0.8em;
    white-space: nowrap;
}

.name-input,
.score-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.name-input {
    width: 100%;
}

.score-input {
    margin-right: 5px;
    -moz-appearance: textfield;
}

.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculate-scores-btn {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .calculate-scores-btn:hover {
    background-color: #45a049; /* Verde mai închis */
  }

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 8px;
}

.add-score-btn,
.restore-btn,
.atuu-btn {
    padding: 8px;
    font-size: 12px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s ease; /* Adăugat pentru efect de tranziție */
}

.add-score-btn {
    background-color: #007bff;
}

.add-score-btn:hover {
    background-color: #0056b3; /* Culoare mai închisă la hover */
}

.restore-btn {
    background-color: #ffc107;
}

.restore-btn:hover {
    background-color: #e0a800; /* Culoare mai închisă la hover */
}

.atuu-btn {
    background-color: #17a2b8;
}

.atuu-btn:hover {
    background-color: #138496; /* Culoare mai închisă la hover */
}

.modal-button-group {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Spațiu între butoane */
    justify-content: center; /* Asigură centrul */
    align-items: center;
    margin-top: 10px;
}

.atuu-btn.active {
    background-color: #138496;
    transform: scale(0.95);
}

.add-player-btn,
.clear-all-btn {
    padding: 10px;
    font-size: 14px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s ease; /* Adăugat pentru efect de tranziție */
}

.clear-all-btn {
    background-color: red;
}

.clear-all-btn:hover {
    background-color: darkred; /* Culoare mai închisă la hover */
}

.add-player-btn {
    background-color: green;
}

.add-player-btn:hover {
    background-color: darkgreen; /* Culoare mai închisă la hover */
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.modal-button {
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; /* Dimensiune fixă pentru butoane */
    margin: 0; /* Elimină marginile externe care pot cauza nealinierea */
}

.confirmation-button {
    background-color: #dc3545;
    color: white;
}

.cancel-button {
    background-color: #007bff;
    color: white;
}

.atuu-text {
    margin-left: 10px;
    font-size: 12px;
}

.modal-content ul {
    padding: 0;
}

.modal-content ul li {
    margin-bottom: 8px;
}

.empty-message {
    text-align: center;
    margin: 15px 0;
}

.empty-message p {
    font-size: 16px;
    color: #555;
}

.remove-player-icon,
.history-icon,
.edit-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    width: 20px; /* Dimensiune consistentă */
}

.remove-player-icon {
    right: 10px;
}

.history-icon {
    right: 40px;
}

.edit-icon {
    right: 70px; /* Ajustăm distanța față de celelalte iconițe */
}

@media (min-width: 400px) {
    .score-input {
        width: calc(100% - 50px);
    }
}


.clean-all-scores-btn {
    padding: 10px;
    font-size: 14px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    background-color: #000000; /* Culoare de fundal (roșu) */
    transition: background-color 0.3s ease; /* Efect de tranziție */
}
